asgiref==3.9.1
certifi==2025.7.14
Django==5.2.4
djangorestframework==3.16.0
drf-yasg==1.21.10
elastic-transport==8.17.1
elasticsearch==8.13.0
elasticsearch-dsl==8.11.0
gunicorn==23.0.0
inflection==0.5.1
packaging==25.0
psycopg2-binary==2.9.10
python-dateutil==2.9.0.post0
python-decouple==3.8
pytz==2025.2
PyYAML==6.0.2
six==1.17.0
sqlparse==0.5.3
uritemplate==4.2.0
urllib3==2.5.0
